<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ac.mayoi.maigocompass">

    <application
        android:name=".DevelopmentApplication"
        android:icon="@mipmap/icon_development"
        android:roundIcon="@mipmap/icon_development_round">

    </application>

</manifest>